// 颜色
$accentColor = #5b3cc4
$textColor = rgb(91, 87, 119)
$borderColor = #eaecef
// $codeBgColor = #110d26
$codeBgColor = #f5f7fb
$arrowBgColor = #ccc

// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #f5f7fb
// $arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 15rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

